{% extends "base.html" %}
{% block title %} <title> This is home page! </title>  {% endblock %}
{% block body %}
    {{ request.user.get_full_name }} {{ request.user.get_usertype_display }}
    {% for obj in post_list %}
        <div class="main">
            {% if obj.image %}
                <a target="_blank" href="{{ obj.get_absolute_url }}"> <img src="{{ obj.image.url }}" width="200"
                                                                           height="200" alt=""></a>
            {% endif %}
            <h1> {{ forloop.counter }}. <a target="_blank" href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h1>
            <p>{{ obj.content|safe|slice:":100" }}...</p>

            <p> {{ obj.create_time }} </p>
        </div>
        <hr>
    {% endfor %}


    <hr>

    <select name="" id="">
        <option value="{{ request.user.usertype }}">{{ request.user.get_usertype_display }}</option>
    </select>

    <hr>
    <ul>
        {% for obj in category_list %}
            <li><a target="_blank" href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></li>
            <ul>
                {% for x in obj.data.all %}
                    <li><a target="_blank" href="{{ x.get_absolute_url }}">{{ x.title }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% endblock %}