{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div style="text-align: center !important;" class="col-md-6">

            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "success" %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}

            {% endif %}
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <form action="" method="post" enctype="multipart/form-data" class="form-control">
                {% csrf_token %}
                <div class="col-md-6">
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-success">Create User</button>
                </div>
            </form>
        </div>

    </div>
{% endblock %}