{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %} <title>Hello world!</title> {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}?{% now 'U' %}">


</head>
<body>

<div class="header">
    <ul>
        <li><a href="{% url  'post:index' %}">Home page</a></li>
        <li><a href="{% url 'post:slider'  %}">slider</a></li>
        <li>about</li>
    </ul>
</div>
{% block body %}


{% endblock %}

<div class="footer">
    <ul>
        <li>main</li>
        <li>news</li>
        <li>product</li>
    </ul>
</div>
</body>
</html>