{% extends 'base.html' %}
{% block body %}
    {% for obj in post_list %}
        <div class="main">
            {% if obj.image %}
                <a target="_blank" href="{{ obj.get_absolute_url }}"> <img src="{{ obj.image.url }}" width="200"
                                                                           height="200" alt=""></a>
            {% endif %}
            <h1> {{ forloop.counter }}. <a target="_blank" href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h1>
            <p>{{ obj.content|safe|slice:":100" }}...</p>
            <hr>
            <p>{{ obj.category }}</p>
            <p> {{ obj.create_time }} </p>
        </div>
        <hr>
    {% endfor %}
{% endblock %}